.app__footer {
  margin-top: 6rem;
  z-index: 2;
  width: 100%;
  overflow: auto;
}

.app__footer-cards {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.app__footer-card-mobile {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2rem;
  border: radius 0%;
  background-color: #d0e2fe;
  opacity: 0.7;
  border-radius: 10px;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  overflow: auto;

  img {
    width: 50px;
    height: 50px;
  }

  a {
    color: var(--black-color);
    margin: 2rem;
    justify-content: space-evenly;
  }
}

.app__footer-card-email {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2rem;
  border: radius 0%;
  background-color: #ffc9d0;
  opacity: 0.7;
  border-radius: 10px;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  overflow: auto;

  img {
    width: 50px;
    height: 50px;
  }

  a {
    color: var(--black-color);
    margin: 2rem;
    justify-content: space-evenly;
  }
}
