.app__work {
  width: 100%;
  flex-direction: column;
  flex: 1;
  display: flex;
  margin-top: 300px;
}

.app__full-banner {
  margin-top: 100px;
}

.img-responsive {
  @media screen and (max-width: 1200px) {
    padding: 0px !important;
  }
}

.app__full-banner-item {
  width: 80%;
  margin: 2rem;
  margin: auto;
  display: flex;
  margin-bottom: 8rem;
  justify-content: space-between;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  .app__full-banner-image {
    padding: 1rem;
    width: 50%;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  .app__full-banner-text {
    padding: 2rem 0rem;
    width: 40%;
    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    .head-text {
      color: var(--black-color);
      text-align: left !important;
    }
    .p-text {
      background-color: white;
      pointer-events: none;
      padding: 2rem 1rem;
      border-radius: 10px;
    }

    .webLink {
      color: var(--gray-color) !important;
    }

    .codeLink {
      color: var(--gray-color) !important;
    }
  }
}
